In [101]:
from urllib2 import Request, urlopen
import pandas as pd
import requests
import json
import time
from datetime import datetime

In [102]:
data = pd.read_excel(open("/Users/noa/Documents/research/fire.xlsx",'rb'))

In [132]:
data.head()

,AREA,PERIMETER,FIRE_,FIRE_ID,LAT,LONG,DATE,JULIAN,GMT,TEMP,SPIX,TPIX,SRC,SAT_SRC,CONF,FRP
0,0,0,1,151960,49.840,-95.150,2016-05-08,129,310,305.4,3.7,1.8,gsfc,T,12,106.4
1,0,0,2,551166,49.840,-95.150,2016-05-08,129,310,305.4,3.7,1.8,gsfc,T,12,106.4
2,0,0,3,152996,49.839,-95.168,2016-05-09,130,352,323.0,1.2,1.1,rsac,T,46,26.8
3,0,0,4,552202,49.839,-95.168,2016-05-09,130,352,323.0,1.2,1.1,rsac,T,46,26.8
4,0,0,5,26382,49.839,-95.129,2016-05-09,130,1901,326.6,1.0,1.0,ssec,A,49,22.1

In [123]:
def toUnix(d, time):
    time = str(time)

    if (len(time) == 3):
        time = '0' + time
    extra = time[len(time) - 2:len(time)]
    extra = ":" + extra
    time = time[:-2]
    time = time + extra
    date = d.strftime('%Y-%m-%d')
    date = date+" "+time
    datetime_object = datetime.strptime(date, '%Y-%m-%d %H:%M')
    return (datetime_object - datetime(1970,1,1)).total_seconds()

In [125]:
toUnix(d, time)

1462677000.0

In [130]:
def makerequest(lat, lon, time,api = 'ae81c74d7b434000492e19b44facafc0'):
    """Takes lat (float), lon (float), time (int) and api (string) (optional), returns an 1 x n pandas dataframe."""
    url = "https://api.darksky.net/forecast/%s/%f,%f,%d"
    query = url % (api,lat,lon,time)
    r = requests.get(query)
    json_weather = r.json()
    df = pd.read_json(r.text)
    testerdf = pd.DataFrame(df['currently'])
    test2 = pd.DataFrame.transpose(testerdf)
    return test2

In [131]:
makerequest(lat, lon, toUnix(d,time))

,apparentTemperature,cloudCover,data,dewPoint,humidity,icon,isd-stations,precipIntensity,precipProbability,pressure,sources,summary,temperature,time,units,visibility,windBearing,windSpeed
currently,49.54,0.26,NaN,31.14,0.49,partly-cloudy-night,NaN,0,0,1011.89,NaN,Partly Cloudy,49.54,1462677000,NaN,9.4,88,2.08