In [2]:
from urllib2 import Request, urlopen
import pandas as pd
import requests
import json
import time
from datetime import datetime

In [3]:
data = pd.read_excel(open("/Users/noa/Documents/research/fire.xlsx",'rb'))

In [5]:
data.head()

,AREA,PERIMETER,FIRE_,FIRE_ID,LAT,LONG,DATE,JULIAN,GMT,TEMP,SPIX,TPIX,SRC,SAT_SRC,CONF,FRP
0,0,0,1,151960,49.840,-95.150,2016-05-08,129,310,305.4,3.7,1.8,gsfc,T,12,106.4
1,0,0,2,551166,49.840,-95.150,2016-05-08,129,310,305.4,3.7,1.8,gsfc,T,12,106.4
2,0,0,3,152996,49.839,-95.168,2016-05-09,130,352,323.0,1.2,1.1,rsac,T,46,26.8
3,0,0,4,552202,49.839,-95.168,2016-05-09,130,352,323.0,1.2,1.1,rsac,T,46,26.8
4,0,0,5,26382,49.839,-95.129,2016-05-09,130,1901,326.6,1.0,1.0,ssec,A,49,22.1

In [6]:
def toUnix(d, time):
    time = str(time)

    if (len(time) == 3):
        time = '0' + time
    extra = time[len(time) - 2:len(time)]
    extra = ":" + extra
    time = time[:-2]
    time = time + extra
    date = d.strftime('%Y-%m-%d')
    date = date+" "+time
    datetime_object = datetime.strptime(date, '%Y-%m-%d %H:%M')
    return (datetime_object - datetime(1970,1,1)).total_seconds()

In [7]:
toUnix(d, time)

NameError: name 'd' is not defined

In [8]:
def makerequest(lat, lon, time,api = 'ae81c74d7b434000492e19b44facafc0'):
    """Takes lat (float), lon (float), time (int) and api (string) (optional), returns an 1 x n pandas dataframe."""
    url = "https://api.darksky.net/forecast/%s/%f,%f,%d"
    query = url % (api,lat,lon,time)
    r = requests.get(query)
    json_weather = r.json()
    df = pd.read_json(r.text)
    testerdf = pd.DataFrame(df['currently'])
    test2 = pd.DataFrame.transpose(testerdf)
    return test2

In [9]:
makerequest(lat, lon, toUnix(d,time))

NameError: name 'lat' is not defined

In [10]:
lat = data.LAT[0:10]
lon = data.LONG[0:10]
d = data.DATE[0:10]
time = data.GMT[0:10]
df = pd.DataFrame()

In [11]:
for i in range(0,10):
    x = makerequest(lat[i], lon[i], time[i])
    df = df.append(x, ignore_index=True)

In [12]:
data = data.join(df)

In [15]:
googlemaps = "AIzaSyDip0sfLv1JF63lrWuIh5PAkLHLjdjQlHQ"

In [56]:
def maketerrain(lat, lon, key):
    """Takes lat (float), lon (float), time (int) and api (string) (optional), returns an 1 x n pandas dataframe."""
    url = "https://maps.googleapis.com/maps/api/elevation/json?locations=%f,%f&%s"
    query = url % (lat,lon,key)
    r = requests.get(query)
    json_weather = r.json()
    df = pd.read_json(r.text)
    return df

In [57]:
maps = pd.DataFrame()
for i in range(0,10):
    x = maketerrain(lat[i], lon[i], googlemaps)
    maps = maps.append(x, ignore_index=True)

In [63]:
'''returns list of elevation'''
x = []
for i in range(0,10):
    x.append(maps['results'][i]['elevation'])

In [68]:
x = pd.DataFrame(x, columns=["Elevation"])  
data = data.join(x)

In [69]:
data

,AREA,PERIMETER,FIRE_,FIRE_ID,LAT,LONG,DATE,JULIAN,GMT,TEMP,...,pressure,sources,summary,temperature,time,units,visibility,windBearing,windSpeed,Elevation
0,0,0,1,151960,49.840,-95.150,2016-05-08,129,310,305.4,...,1019.91,NaN,Partly Cloudy,15.01,310,NaN,10,121,6.96,376.115814
1,0,0,2,551166,49.840,-95.150,2016-05-08,129,310,305.4,...,1019.91,NaN,Partly Cloudy,15.01,310,NaN,10,121,6.96,376.115814
2,0,0,3,152996,49.839,-95.168,2016-05-09,130,352,323.0,...,1019.91,NaN,Partly Cloudy,15.01,352,NaN,10,121,6.95,364.218140
3,0,0,4,552202,49.839,-95.168,2016-05-09,130,352,323.0,...,1019.91,NaN,Partly Cloudy,15.01,352,NaN,10,121,6.95,364.218140
4,0,0,5,26382,49.839,-95.129,2016-05-09,130,1901,326.6,...,1019.95,NaN,Partly Cloudy,15.08,1901,NaN,10,123,6.74,372.409424
5,0,0,6,355769,49.839,-95.129,2016-05-09,130,1901,326.6,...,1019.95,NaN,Partly Cloudy,15.08,1901,NaN,10,123,6.74,372.409424
6,0,0,7,151959,49.838,-95.145,2016-05-08,129,443,336.3,...,1019.91,NaN,Partly Cloudy,15.02,443,NaN,10,121,6.94,370.785431
7,0,0,8,551165,49.838,-95.145,2016-05-08,129,443,336.3,...,1019.91,NaN,Partly Cloudy,15.02,443,NaN,10,121,6.94,370.785431
8,0,0,9,26381,49.837,-95.201,2016-05-09,130,1901,343.5,...,1019.95,NaN,Partly Cloudy,15.08,1901,NaN,10,123,6.74,337.444611
9,0,0,10,355768,49.837,-95.201,2016-05-09,130,1901,343.5,...,1019.95,NaN,Partly Cloudy,15.08,1901,NaN,10,123,6.74,337.444611
10,0,0,11,152993,49.836,-95.184,2016-05-09,130,352,362.3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,0,0,12,552199,49.836,-95.184,2016-05-09,130,352,362.3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,0,0,13,26379,49.836,-95.178,2016-05-09,130,802,312.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,0,0,14,355766,49.836,-95.178,2016-05-09,130,802,312.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,0,0,15,151957,49.836,-95.175,2016-05-08,129,443,326.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,0,0,16,551163,49.836,-95.175,2016-05-08,129,443,326.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,0,0,17,25339,49.835,-95.167,2016-05-08,129,1956,310.3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,0,0,18,354726,49.835,-95.167,2016-05-08,129,1956,310.3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,0,0,19,152991,49.834,-95.192,2016-05-09,130,1725,341.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,0,0,20,552197,49.834,-95.192,2016-05-09,130,1725,341.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,0,0,21,152990,49.832,-95.178,2016-05-09,130,1725,341.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,0,0,22,552196,49.832,-95.178,2016-05-09,130,1725,341.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,0,0,23,26376,49.830,-95.184,2016-05-09,130,1910,351.9,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,0,0,24,355763,49.830,-95.184,2016-05-09,130,1910,351.9,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,0,0,25,151952,49.825,-95.143,2016-05-08,129,443,341.9,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,0,0,26,551158,49.825,-95.143,2016-05-08,129,443,341.9,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,0,0,27,152987,49.823,-95.174,2016-05-09,130,1725,314.8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,0,0,28,552193,49.823,-95.174,2016-05-09,130,1725,314.8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,0,0,29,151951,49.823,-95.173,2016-05-08,129,443,314.2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,0,0,30,551157,49.823,-95.173,2016-05-08,129,443,314.2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
161693,0,0,161694,227009,25.409,-80.545,2016-08-25,238,1620,317.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
161694,0,0,161695,626215,25.409,-80.545,2016-08-25,238,1620,317.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
161695,0,0,161696,327951,25.407,-80.657,2016-04-11,102,1837,330.4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
161696,0,0,161697,327950,25.402,-80.686,2016-04-11,102,1837,340.4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
161697,0,0,161698,327949,25.401,-80.696,2016-04-11,102,1837,320.3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
161698,0,0,161699,327201,25.401,-80.675,2016-04-10,101,1757,315.2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
161699,0,0,161700,327200,25.397,-80.666,2016-04-10,101,1755,326.9,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
161700,0,0,161701,523648,25.395,-80.677,2016-04-10,101,1613,316.2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
161701,0,0,161702,518567,25.395,-80.641,2016-04-05,96,1555,322.4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
161702,0,0,161703,518566,25.394,-80.631,2016-04-05,96,1555,345.1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
161703,0,0,161704,523647,25.393,-80.663,2016-04-10,101,1613,331.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
161704,0,0,161705,322096,25.389,-80.619,2016-04-05,96,1913,316.8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
161705,0,0,161706,327197,25.388,-80.707,2016-04-10,101,1755,315.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
161706,0,0,161707,327196,25.384,-80.670,2016-04-10,101,1755,324.6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
161707,0,0,161708,165104,25.260,-81.048,2016-05-21,142,1620,313.9,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
161708,0,0,161709,564310,25.260,-81.048,2016-05-21,142,1620,313.9,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
161709,0,0,161710,165102,25.258,-81.037,2016-05-21,142,1620,315.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
161710,0,0,161711,564308,25.258,-81.037,2016-05-21,142,1620,315.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
161711,0,0,161712,196462,25.210,-80.770,2016-07-08,190,1608,317.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
161712,0,0,161713,595668,25.210,-80.770,2016-07-08,190,1608,317.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
161713,0,0,161714,186818,25.209,-80.772,2016-06-22,174,1608,313.1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
161714,0,0,161715,586024,25.209,-80.772,2016-06-22,174,1608,313.1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
161715,0,0,161716,140034,25.209,-80.767,2016-04-28,119,1610,312.4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
161716,0,0,161717,539240,25.209,-80.767,2016-04-28,119,1610,312.4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
161717,0,0,161718,30097,25.204,-80.776,2016-05-15,136,1824,312.7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
161718,0,0,161719,359484,25.204,-80.776,2016-05-15,136,1824,312.7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
161719,0,0,161720,165100,25.166,-80.961,2016-05-21,142,1608,312.8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
161720,0,0,161721,564306,25.166,-80.961,2016-05-21,142,1608,312.8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
161721,0,0,161722,239771,24.547,-81.792,2016-09-21,265,1600,312.2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
161722,0,0,161723,638977,24.547,-81.792,2016-09-21,265,1600,312.2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN